@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;500&display=swap');
:root {
  --clr-100: hsl(49 37% 94%);
}
body {
  margin: 0;
  font-family: 'Source Code Pro', sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background-color: var(--clr-100);
}
h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: 'Source Code Pro', monospace;
}
h1::before,
h1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
h1::before {
  background: blue;
  animation: typewriter 4s steps(21) forwards;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
.subtitle {
  color: hsl(0 0% 0% / 0.7);
  font-size: 2rem;
  font-weight: 400;
}
