@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;500&display=swap');
:root {
  --clr-100: hsl(49 37% 94%);
  --typewriter-speed: 6s;
}
body {
  margin: 0;
  font-family: 'Source Code Pro', sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background-color: var(--clr-100);
}
h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}
h1::before,
h1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
h1::before {
  background: var(--clr-100);
  animation: typewriter var(--typewriter-speed) 1s steps(21) forwards;
}
h1::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriter-speed) 1s steps(21) forwards,
    blink 750ms steps(21) infinite;
}
.subtitle {
  color: hsl(0 0% 0% / 0.7);
  font-size: 2rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(3.5rem);
  animation: fadeinUp 2s ease calc(var(--typewriter-speed) + 1.8s) forwards;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes fadeinUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
